.Page_root {
  height: 1000px;
}

.Card_root {
  padding: 1em;
  margin: 3em auto;
  max-width: 500px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}

.Header_root {
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.Header_title {
  font-size: 2em;
}

.Header_title {
  transform-origin: left;
  transition: transform 0.2s;
}

.sticky .Header_title {
  transform: scale(0.65);
}

.Header_link {
  display: inline;
  margin-left: 1em;
}

.Header_links {
  margin: 0;
}
